
/* .taskbar-container.close {
    width: 0px;
} */

.taskbar-modal {
    color: rgb(31, 31, 31);
}

.taskbar-btn-wrapper {
    display: block;
    width: 100%;
    padding-left: 5px;

    /* float: none; */
}

.taskbar-close-btn {
    font-size: 28px;
    float: left;
    padding-right: 7px;
    vertical-align: top;
}

.taskbar-add-btn {
    font-size: 28px;
    float: left;

    padding-right: 7px;
    vertical-align: top;
}

/* small effect for buttons: animate on hover if class name ends in "btn" */
[class$="btn"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.tasklist-container {
    color: rgba(78, 76, 76, 0.835);
}

.taskitem {
    opacity: .87;
    /* background-color: rgba(173, 43, 28, 0.774); */
}

.taskitem-body {
    opacity: .87;
    background-color: rgba(243, 197, 197, 0.582);
}