
/* .taskbar-container.close {
    width: 0px;
} */


.taskbar-btn-container {
    display: block;
    width: 100%;
    padding-left: 5px;

    /* float: none; */
}

.taskbar-close-btn {
    font-size: 28px;
    float: left;
    padding-right: 7px;
    vertical-align: top;
}

.taskbar-add-btn {
    font-size: 28px;
    float: left;
    padding-right: 7px;
    vertical-align: top;
}

.taskform-modal {
    color: rgb(31, 31, 31);
}


/* small effect for buttons: animate on hover if class name ends in "btn" */
[class$="btn"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* task form buttons */
.fbtn {
    /* width: 3rem; */
    text-align: center;
}

.tf-icon {
    font-size: 1.6rem;
    padding-bottom: 3px;
    /* text-align: left; */
}

.taskform-btn-container {
    margin-top: 2rem;
}

.tasklist-container {
    color: rgba(78, 76, 76, 0.835);
    padding-left: 5px;
    padding-right: 5px;
}

.taskitem-card {
    opacity: .95;
}

.taskitem-body {
    opacity: .87;
    color: rgb(53, 53, 53);
    background-color: rgba(243, 197, 197, 0.582);
}

.taskitem-prepend {
    position: absolute;
    height: 100%;
    width: 75px;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 7px;
    opacity: .70;
}


.task-delete.fbtn {
    float: right;
    clear: right;
}

.date-time-picker {
    border-radius: 5px !important;
    border: 0px !important;
    
}