
.login-enter {
    opacity: 0.01;
}

.login-enter.login-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.login-leave {
    opacity: 1;
}

.login-leave.login-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}